.register{
    margin-left: 35%;
    margin-top: 10%;
    border: 2px solid blue;
    width: 30%;
    padding: 50px;
}
.register input{
    height: 30px;
    width: 200px;
}
.register lable{
    font-size: large;
    font-weight: bolder;
}
.register input, label{
    display: block;
}
.register h1:hover{
    color: blue;
}

